body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(174, 229, 255);
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blueviolet;
  width: 40%;
  height: 45vh;
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
}

.head {
  margin-bottom: 30px;
  background-color: blue;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}