* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: blueviolet;
    text-align: center;
    margin-top: 10%;
  }
  
  form h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  form input {
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  form button {
    font-size: 1.5rem;
    padding: 10px;
    display: block;
    margin: 10px auto 0;
    cursor: pointer;
    border: 1px solid black;
    color: #fff;
    background-color: rgb(0, 185, 99);
  }
  form button:hover{
    background-color: rgb(0, 255, 191);
  }